*{
	font-family: Helvetica Neue;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

.bg_general {
	min-height: 100vh;
}

h1, h2, .intro {
	width: 100%;
	text-align: center;
}