*{
	font-family: Helvetica Neue;
	font-size: 1.2rem;
	/*background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;*/
}

body {
	/*background-image: url('../img/jv/bg.jpg');*/
	background: rgba(0, 0, 0, 0.825);
	color: white;
	text-shadow: -2px 0 black, 2px 0 black, 0 -2px black, 0 2px black
}

.carousel-inner {
	max-height: 400px;
}

.pad {
	padding: 20px 10px;
}

.navbar {
	position: fixed;
	width: 100%;
	z-index: 100;
	background: rgb(0, 0, 0);
}

.bg_general {
	min-height: 100vh;
}

p, .text {
	font-size: 1rem;
}

h1, h2, .intro {
	width: 100%;
	text-align: center;
}