.timeline ul {
	list-style: none;
	position: relative;
	left: 20%;
  padding: 1px 0px;
  content: '';
  position: relative;
  border-left: 2px solid #fff;
}

.timeline ul li {
	position: relative;
  margin-left: 20px;
  padding: 14px;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(255, 255, 255, .12), 0 2px 2px rgba(255, 255, 255, .08);
  width: 60%;
}

.timeline ul li:not(:first-child) {
  margin-top: 60px;
}

.timeline div > div {
  margin-top: 5px;
}

.timeline span.timeline_date {
  position: absolute;
  left: -100px;
  font-weight: bold;
}

@media screen and (max-width: 410px) {
	.timeline span.timeline_date {
		font-size: 10px;
		left: -70px;
	}
  .timeline ul li {
    width: 70% !important;
  }
}

.tl_title {
  font-weight: bold;
}

.tl_foot {
  font-style: italic;
  font-size: 0.8rem;
}